body {
    margin: 0;
    font-family: Lato;
}

html {
    box-sizing: content-box;
}

iframe {
    margin: 0;
    width: 100%;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;

}

.container {
    margin-top: 0px; 
    padding: 20px;
}

h2 {
    margin-bottom: 20px; /* Reducido el margen inferior */
    
}



.balance-text, .balance-amount {
    color: white;
}

.balance-amount {
    color: #FFF;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



